lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
package-lock.json

pids
logs
results
.idea

npm-debug.log
node_modules
build

*/assets/public/**
*/apidoc/**

/doc/*
!/doc/api_data.js
!/doc/api_project.js

.history
.vscode